name: Test suite

on: [push, pull_request]

jobs:
  unit_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 8
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-12]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        [[ $(uname) == Linux ]] && sudo apt-get install --no-install-recommends python3-openssl python3-lxml
        pip install coverage wheel
        make install
    - name: Test
      run: |
        make test
    - name: Upload coverage data
      run: |
        bash <(curl -s https://codecov.io/bash)
  black:
    runs-on: ubuntu-22.04
    steps:
      - uses: psf/black@stable
  isort:
    runs-on: ubuntu-22.04
    steps:
      - uses: isort/isort-action@v1.1.0
